$theme-sidebarWidth: 350px;
$theme-sidebarHeight: 900px;
$theme-colorBg2: #2b2d42; // Dark Blue-Gray
$theme-borderColor2: #8d99ae; // Light Blue-Gray
$theme-colorGrey3: #edf2f4; // Light Gray
$theme-colorBg3: #e76f51; // Burnt Orange
$theme-colorGrey0: #f4f4f4; // Off White
$theme-activeNavLinkHover: #457b9d; // Steel Blue
$theme-colorGreenDark: #00b894; // Dark Mint Green
$theme-colorIcons: #ffffff; // White
$theme-activeNavLink: #1d3557; // Dark Indigo
$theme-colorIcons2: #ff7675; // Salmon Pink
